matplotlib==3.9.4
numpy==1.23.5
opencv-python-headless==4.11.0.86
Pillow==9.4.0
scikit_learn==1.2.1
scipy==1.10.0
zephir==1.0.4
pynwb==2.8.3
hdmf==3.14.6
tifffile==2024.8.30
czifile==2019.7.2.2
imagecodecs==2024.12.30
ndx-multichannel-volume==0.1.12
h5py==3.14.0
docopt==0.6.2
torch==2.8.0
torchvision==0.23.0
cellpose==4.1.1
scikit-image==0.24.0; platform_system == "Darwin"
scikit-image==0.19.3; platform_system != "Darwin"
tensorflow==2.15.1; platform_system == "Darwin"
tensorflow-metal==1.2.0; platform_system == "Darwin"
tensorflow==2.10.0; platform_system != "Darwin"
